<div class="login-container">
    <mat-card class="login-card">
      <mat-card-title class="login-title">Iniciar Sesión</mat-card-title>
      <mat-card-content>
        <form (ngSubmit)="login()" [formGroup]="usuarioLogin">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Usuario" formControlName="Usuario" name="username" required>
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" placeholder="Contraseña" formControlName="Password" name="password" required>
          </mat-form-field>
          <div class="button-container">
            <button mat-raised-button color="primary" type="submit">Ingresar</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>